@using GrosBrasInc.Ressource
@{
    ViewBag.Title = "TermofUse";
}

<h1>Terms of Use</h1>

<h2>@Ressource.View_terms_Accounts_title</h2>
<p>
@Ressource.Views_terms_accounts_body
</p>
<h2>@Ressource.Views_terms_Copy_title</h2>
<p>
    @Ressource.Views_terms_Copy_body
</p>
<h2> @Ressource.Views_terms_Dis_title</h2>
<p>
    @Ressource.Views_terms_dis_Body
</p>

