@model GrosBrasInc.Models.ApplicationUser

@{
    GrosBrasInc.Models.Client c = ViewBag.Client as GrosBrasInc.Models.Client;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>@Html.DisplayFor(model => model.UserName)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            @if (c != null)
            {
                <dt>
                    Card number
                </dt>
                <dd>
                    @Html.DisplayName(c.CardNumber)
                </dd>
                <dt>
                    Paypal
                </dt>
                <dd>
                    @Html.DisplayName(c.PaypalUrl)
                </dd>
            }


            <dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>
        </dl>
    </div>
</body>
</html>