@model IEnumerable<GrosBrasInc.Models.Article>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron" id="mainContent">
    <h2>Index</h2>
    @if (User.IsInRole("Administrateur") || User.IsInRole("Modérateur"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <div id="Recherche">
        @using (Html.BeginForm("Index", "Jeux", FormMethod.Get, new { @class = "form-inline"}))
        {
            @Html.TextBox("searchTerm", null, new { @class = "form-control", @style = "width: 150px" })
            <input type="submit" value= @GrosBrasInc.Ressource.Ressource.Articles_btn_research class="btn btn-default btn-primary">
        }
    </div>

    <table class="table">
        <tr>
            <th>
                Article
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomArticle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie.NomCategorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageData != null)
                    {
                        string src;
                        src = "data:" + item.ImageType + ";base64," + Convert.ToBase64String(item.ImageData);
                        <img src="@src" alt="@item.NomArticle" height="70" width="50" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomArticle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.NomCategorie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                @if (User.IsInRole("Administrateur") || User.IsInRole("Modérateur"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArticleID }) | <br>
                        @Html.ActionLink("Details", "Details", new { id = item.ArticleID }) | <br>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ArticleID }) | <br>
                    </td>
                }
                <td>
                    @Html.ActionLink("Add to cart", "AddToCart", "Panier", new { id = item.ArticleID }, "")
                </td>
            </tr>
        }

    </table>
</div>